  .page {
    min-height: 100vh;

    ::v-deep(.van-sticky) {
      background: url("@/assets/images/main-bg.png") top center / cover no-repeat;
    }

    header {
      display: flex;
      align-items: center;
      padding: 1rem;


      .filtrate {
        max-width: 3rem;
        height: 3rem;
        margin-left: auto;
      }

      .btnRow {
        display: flex;
        overflow: auto;
        background: #4B3DB1;
        border-radius: 10px;
        padding: 4px;
        gap: 0.5rem;

        .button {
          height: 2.3rem;
          word-break: keep-all;
        }
      }
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;

      .item {
        background: linear-gradient( 180deg, #141A30 0%, #0D1530 100%);;
        border-radius: 8px;
        width: 93vw;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1.6rem 0.6rem 1rem;
        margin-bottom: 0.5rem;
        align-items: center;

        .left {
          display: flex;
          flex-direction: column;
        }
        .unit {
          font-size: 1.26rem;
          color: #ffffff;
          line-height: 1.6rem;
          margin-bottom: 0.6rem;
        }
        .type {
          font-size: 0.8rem;
          margin-left: 0.8rem;
          color: #7C84A1;
          line-height: 1.1rem;
          margin: 0.2rem 0 0.4rem 0;
        }
        .date {
          font-size: 0.8rem;
          color: #7C84A1;
          line-height: 1.1rem;
        }
        .price {
          font-weight: 600;
          font-size: 1.15rem;
          color: #60FFCD;
          line-height: 1.6rem;
        }
      }

      .down {
        .unit,.type, .price {
          color: #B8B8B8;
        }
      }
    }

    .popupContent {
      // padding: 2rem 1.6rem;

      .title {
        font-weight: 600;
        font-size: 0.8rem;
        color: #CCCCCC;
        line-height: 1.3rem;
      }
      .timeBox {
        margin-right: 1rem;
        border-radius: 4px;
        border: 2px solid #666666;
        height: 2.5rem;
        width: 30vw;
        color: #ffffff;
        text-align: center;
        line-height: 2.5rem;
      }
      .timeRow {
        display: flex;
        margin-top: 0.5rem;
      }
      .margin {
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
      }
      .button {
        margin: 0 auto;
        display: block;
        margin-top: 3.3rem;
        width: 57vw;
      }
    }
  }