.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 7rem;
  background-color: #000000;
  position: relative;
  overflow: hidden;

  --van-nav-bar-background: transparent;

  .bg {
    width: 100%;
    position: absolute;
    top: -2.6rem;
    left: 0;
  }

  main {
    position: relative;
    // padding: 0 1rem;
    z-index: 2;

    .logo {
      width: 7.46rem;
      height: 2.4rem;
      margin: 1.2rem auto 1.5rem auto;
      display: block;
    }

    .mainTitle {
      // font-weight: bold;
      font-size: 2.2rem;
      color: #FFFFFF;
      line-height: 2.8rem;
      padding: 0 1rem;
      // font-family: ComfortaaBold;
      text-align: center;
      // font-family: Comfortaa, Comfortaa;
    }
    .date {
      font-weight: bold;
      font-size: 0.86rem;
      color: #A0A4B8;
      line-height: 1.1rem;
      margin-top: 0.6rem;
      text-align: center;
    }

    .nodeBox {
      margin-top: 20vh;
      position: relative;
      padding: 0 1.3rem 1.3rem 1.3rem;

      .boxBg {
        width: 100%;
        padding-bottom: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }

    .tabs {
      display: flex;
      align-items: center;
      padding: 2.73rem 0 0.53rem 0;
      overflow-x: auto;
      gap: 8px;
  
      .button {
        flex: 1;
        height: 3rem;
        // font-weight: bold;
        // font-family: ComfortaaBold;
      }
    }

    .nodeInfo {
      position: relative;
      padding: 1rem;
      background-color: #162343;
      z-index: 2;
      border-radius: 10px;

      .infoTitle {
        color: var(--van-primary-color);
        font-size: 1.4rem;
        // font-weight: 600;
        color: #FFFFFF;
        line-height: 1.7rem;
        // font-family: ComfortaaBold;
      }

      .content {
        color: #94A3C6;
        font-size: 0.8rem;
        line-height: 1.34rem;
        margin-top: 0.6rem;
        white-space: break-spaces;

        .label {
          color: #FFFFFF;
        }
      }
      .progress {
        margin-top: 2.3rem;
        background-color: #333333;
        height: 0.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;

        .step {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background-color: var(--van-primary-color);
          height: 0.5rem;
          border-radius: 0.5rem;
        }
      }


    }
    .bottomButton {
      width: 100%;
      height: 3.86rem;
      font-size: 1.3rem;
      font-weight: Bold;
      margin: 0 auto 2rem auto;
      margin-top: 1rem;
      display: block;
      color: #FFFFFF;
    }
  }
}