.page {
  min-height: 100vh;
  padding: 0 1.2rem 6rem 1.2rem;
  display: flex;
  flex-direction: column;

  .box {
    position: relative;
    border-radius: 10px;
    padding: 1px; /* 边框厚度 */
    background: linear-gradient(180deg, rgba(132, 107, 214, 1), rgba(165, 141, 244, 0.2), rgba(124, 97, 244, 0.1));
  }

  .myInfo {
    background: #000000;
    border-radius: var(--van-dialog-radius);
    background: linear-gradient(#22215B 0%, #2B2689 100%);
    border-radius: 9px;


    .top {
      padding: 1rem 1.4rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: #FFFFE1;
      line-height: 1.4rem;

      img {
        vertical-align: middle;
      }

      .icon {
        width: 1.6rem;
        margin-right: 0.8rem;
      }

      .toUp {
        font-size: 0.8rem;
        margin-left: auto;
        color: var(--van-primary-color);

        img {
          width: 1.2rem;
        }
      }
    }
    .middleBox {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 1rem 1.4rem;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    .middle {
      display: flex;
      position: relative;
      z-index: 2;

      .item {
        flex: 1;

        .title {
          font-weight: 600;
          font-size: 0.8rem;
          color: #D6C7FF;
          line-height: 1.23rem;
        }

        .label {
          font-weight: 600;
          font-size: 1.4rem;
          color: #ffffff;
          line-height: 1.93rem;
        }
      }
    }

    .middle:last-child {
      margin-top: 1rem;
    }

    .bottom {
      padding: 0.8rem;

      .label {
        color: #CCCCCC;
        font-size: 0.8rem;
        line-height: 1rem;
        font-weight: 600;
      }

      .invitedInfo {
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1rem;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        .link {
          width: 70%;
          word-break: break-word;
          color: #34DAFF;
        }

        .button {
          margin-left: auto;
          height: 1.7rem;
          min-width: 4.1rem;
          color: #6A39F2;
          background-color: #ffffff;
        }
      }
    }
  }
  .rowBox {
    display: flex;
    
  }
  .myInvitedInfo {
    // background-color: #000000;
    background: linear-gradient( 85deg, #22215B 0%, #1A1842 100%);
    border-radius: var(--van-dialog-radius);
    padding: 0.8rem 1.4rem;
    margin-top: 0.8rem;
    
    .column {
      flex: 1;
      display: flex;
      flex-direction: column;

      .key {
        color: #B7B4FF;
      }
      .value {
        color: #787F9A;
      }

    }

    .row {
      display: flex;
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 1.8rem;
      justify-content: space-between;

      .key {
        color: #B7B4FF;
      }
      .value {
        color: #787F9A;
      }
    }
    .title {
      font-weight: 600;
      font-size: 0.8rem;
      color: #ffffff;
      line-height: 1.8rem;
      margin-bottom: 4px;
    }
  }
}