.page {
  min-height: 100vh;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;

  .myInfo {
    background: #000000;
    border-radius: var(--van-dialog-radius);
    margin-top: 1rem;

    .top {
      padding: 0.8rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: #FFFFE1;
      line-height: 1.4rem;

      img {
        vertical-align: middle;
      }

      .icon {
        width: 1.6rem;
        margin-right: 0.8rem;
      }

    }

  }
  .nextLevel {
    background: #171717;
    border-radius: 8px;
    border: 2px solid #E0F64B;
    padding: 1rem;
    margin-top: 1.2rem;

    .title {
      font-weight: 600;
      font-size: 1rem;
      color: #E0F64B;
      line-height: 1.4rem;
    }
    .grayLabel {
      font-weight: 600;
      font-size: 0.8rem;
      color: #B8B8B8;
      line-height: 1.2rem;
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
    }
    .yellowLabel {
      margin-top: 0.5rem;
      font-weight: 600;
      font-size: 0.8rem;
      color: #E0F64B;
      line-height: 1.2rem;
      display: flex;
      justify-content: space-between;
    }
  }
}